*{
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --bgColor: rgb(239, 239, 239);
}

body{
background-color: var(--bgColor);
min-height: 100vh;
}

.filtered{
  filter: blur(3px); 
}

button, input[type="submit"]{
  background-color: white;
  border: none;
  cursor: pointer;
  outline: solid 1px black;
  padding: 5px 12px 5px 12px;
}

button:hover, input[type="submit"]:hover{
  outline: black 2px solid;
}

header{
  height: 70px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#newBookWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#newBook{
  font-size: 15px;
  margin-bottom: 50px;
  background-color: var(--bgColor);
}

#newBook:hover{
  outline: solid 2px black;
}

.hiddenForm{
  display: none;
}

.activeForm{
  filter: none; 
  display: flex;
  justify-content: center;
  background-color: white;

  outline: solid 4px black;
  outline-offset: -14px;

  height: 450px;
  width: 250px;
  position: fixed;
  top: calc(50vh - ((450px + 20px + 20px)/2));
  left: calc(50vw - ((250px + 20px + 20px)/2));
  padding: 20px;
}

#submitBook{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


#addNewBook{
  font-size: 20px;
  font-weight: 600;
}

input[type="text"], input[type="number"]{
  font-size: 18px;
  border: none;
  outline: black 1px solid;
  padding: 5px 5px 5px 5px;
}

input[type="checkbox"]{
  cursor: pointer;
}

input[type="submit"]{
  font-size: 18px;
  margin-top: -10px;
}

label{
  font-size: 18px;
}

#libraryWrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  margin: 10px 50px 15px 50px;
}

.bookCardWrap{
  background-color: white;
  outline: solid 4px black;
  outline-offset: -14px;
  padding: 20px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: min(300px, calc(100% - 50px));
  height: 300px;
}

.cardText{
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.read, .notRead, .remove{
  background-color: white;
  width: 50%;
}

.read{
  outline: green 1px solid;
  color: green;
}

.read:hover{
  outline: green 2px solid;
}

.notRead{
  outline: red 1px solid;
  color: red;
}

.notRead:hover{
  outline: red 2px solid;
}

@media screen and (max-width: 1080px) {
  #libraryWrap{
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 10px 35px 15px 35px;
  }
}

@media screen and (max-width: 600px){
  #libraryWrap{
    grid-template-columns: 1fr;
    column-gap: 15px;
    margin: 10px 35px 15px 35px;
  }
}

@media screen and (max-width: 300px){

  #libraryWrap{
    grid-template-columns: 1fr;
    column-gap: 15px;
    margin: 10px 35px 15px 35px;
  }

  .bookCardWrap{
    height: 250px;
  }

  .cardText, .read, .notRead, .remove{
    font-size: 12px;
  }

  .activeForm{
  
    height: 400px;
    width: 220px;
    top: calc(50vh - ((400px + 20px + 20px)/2));
    left: calc(50vw - ((220px + 20px + 20px)/2));
  }

  #addNewBook{
    font-size: 18px;
  }
  
  input[type="text"], input[type="number"]{
    font-size: 15px;
  }
  
  input[type="submit"]{
    font-size: 15px;
  }

  label{
    font-size: 15px;
  }
}